body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.login-form {
    text-align: center;
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.login-form button {
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.chat-container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-container h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

#messages {
    flex: 1;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    height: 300px;
    overflow-y: auto;
    background-color: #f7f9fc;
}

#messages li {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.message-input {
    display: flex;
    padding: 20px;
    background-color: #f0f2f5;
    border-top: 1px solid #ddd;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.message-input input:focus {
    border-color: #007bff;
    outline: none;
}

.message-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.message-input button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .login-form, .chat-container {
        width: 100%;
        margin: 0 10px;
    }
}
